/node_modules/
/src/vanillaserver/package-lock.json
/src/node_modules/
/out/
/src/vanillaserver/node_modules/
/src/apolloserver/node_modules/
/latex/abschlussarbeit.pdf
/latex/abschlussarbeit.aux
/latex/abschlussarbeit.toc
/latex/abschlussarbeit.out
/latex/abschlussarbeit-blx.bib
/latex/abschlussarbeit.log
/latex/abschlussarbeit.run.xml
/.idea/.gitignore
/.idea/clojure-deps.xml
/.idea/ClojureProjectResolveSettings.xml
/.idea/compiler.xml
/src/apolloserver/dist/fakeDatabase.js
/src/clojuretool/GraphQL/gitlsb token
/.idea/GraphQL-Testautomatisierung.iml
/src/graphql-tester/graphql-tester.iml
/src/clojuretool/GraphQL/graphql-toy/graphql-toy.iml
/src/apolloserver/dist/index.js
/.idea/libraries/Leiningen__args4j_2_0_26.xml
/.idea/libraries/Leiningen__borkdude_dynaload_0_3_5.xml
/.idea/libraries/Leiningen__borkdude_edamame_1_3_20.xml
/.idea/libraries/Leiningen__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Leiningen__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Leiningen__cheshire_5_9_0.xml
/.idea/libraries/Leiningen__clj_antlr_0_2_4.xml
/.idea/libraries/Leiningen__clj_commons_clj_yaml_0_7_0.xml
/.idea/libraries/Leiningen__clj_http_3_10_1.xml
/.idea/libraries/Leiningen__clj_stacktrace_0_2_8.xml
/.idea/libraries/Leiningen__clj_tuple_0_2_2.xml
/.idea/libraries/Leiningen__clojure_complete_0_2_5.xml
/.idea/libraries/Leiningen__clojure_java_time_0_3_2.xml
/.idea/libraries/Leiningen__com_andrewmcveigh_cljs_time_0_5_2.xml
/.idea/libraries/Leiningen__com_bhauman_spell_spec_0_1_1.xml
/.idea/libraries/Leiningen__com_cognitect_transit_clj_0_8_309.xml
/.idea/libraries/Leiningen__com_cognitect_transit_clj_0_8_319.xml
/.idea/libraries/Leiningen__com_cognitect_transit_cljs_0_8_256.xml
/.idea/libraries/Leiningen__com_cognitect_transit_java_0_8_332.xml
/.idea/libraries/Leiningen__com_cognitect_transit_java_0_8_337.xml
/.idea/libraries/Leiningen__com_cognitect_transit_js_0_8_846.xml
/.idea/libraries/Leiningen__com_fasterxml_jackson_core_jackson_annotations_2_9_10.xml
/.idea/libraries/Leiningen__com_fasterxml_jackson_core_jackson_core_2_8_7.xml
/.idea/libraries/Leiningen__com_fasterxml_jackson_core_jackson_core_2_9_9.xml
/.idea/libraries/Leiningen__com_fasterxml_jackson_core_jackson_databind_2_9_10_1.xml
/.idea/libraries/Leiningen__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_9_9.xml
/.idea/libraries/Leiningen__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_9_9.xml
/.idea/libraries/Leiningen__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_0.xml
/.idea/libraries/Leiningen__com_google_code_findbugs_jsr305_3_0_1.xml
/.idea/libraries/Leiningen__com_google_code_gson_gson_2_7.xml
/.idea/libraries/Leiningen__com_google_errorprone_error_prone_annotations_2_0_18.xml
/.idea/libraries/Leiningen__com_google_guava_guava_25_1_jre.xml
/.idea/libraries/Leiningen__com_google_j2objc_j2objc_annotations_1_1.xml
/.idea/libraries/Leiningen__com_google_javascript_closure_compiler_externs_v20180805.xml
/.idea/libraries/Leiningen__com_google_javascript_closure_compiler_unshaded_v20180805.xml
/.idea/libraries/Leiningen__com_google_jsinterop_jsinterop_annotations_1_0_0.xml
/.idea/libraries/Leiningen__com_google_protobuf_protobuf_java_3_0_2.xml
/.idea/libraries/Leiningen__com_googlecode_json_simple_json_simple_1_1_1.xml
/.idea/libraries/Leiningen__com_paren_serene_0_0_2.xml
/.idea/libraries/Leiningen__com_walmartlabs_lacinia_0_32_0.xml
/.idea/libraries/Leiningen__commons_codec_1_11.xml
/.idea/libraries/Leiningen__commons_codec_1_12.xml
/.idea/libraries/Leiningen__commons_fileupload_1_4.xml
/.idea/libraries/Leiningen__commons_io_2_6.xml
/.idea/libraries/Leiningen__commons_logging_1_2.xml
/.idea/libraries/Leiningen__cprop_0_1_15.xml
/.idea/libraries/Leiningen__crypto_equality_1_0_0.xml
/.idea/libraries/Leiningen__crypto_random_1_2_0.xml
/.idea/libraries/Leiningen__expiring_map_0_1_9.xml
/.idea/libraries/Leiningen__expound_0_8_3.xml
/.idea/libraries/Leiningen__fipp_0_6_14.xml
/.idea/libraries/Leiningen__fipp_0_6_21.xml
/.idea/libraries/Leiningen__funcool_cuerdas_2_2_0.xml
/.idea/libraries/Leiningen__funcool_struct_1_4_0.xml
/.idea/libraries/Leiningen__hiccup_1_0_5.xml
/.idea/libraries/Leiningen__http_kit_2_3_0.xml
/.idea/libraries/Leiningen__io_github_classgraph_classgraph_4_8_53.xml
/.idea/libraries/Leiningen__javax_servlet_javax_servlet_api_3_1_0.xml
/.idea/libraries/Leiningen__javax_xml_bind_jaxb_api_2_3_0.xml
/.idea/libraries/Leiningen__json_html_0_4_7.xml
/.idea/libraries/Leiningen__lambdaisland_deep_diff_0_0_47.xml
/.idea/libraries/Leiningen__luminus_jetty_0_1_7.xml
/.idea/libraries/Leiningen__luminus_ring_ttl_session_0_3_3.xml
/.idea/libraries/Leiningen__luminus_transit_0_1_2.xml
/.idea/libraries/Leiningen__markdown_clj_1_10_1.xml
/.idea/libraries/Leiningen__meta_merge_1_0_0.xml
/.idea/libraries/Leiningen__metosin_jsonista_0_2_5.xml
/.idea/libraries/Leiningen__metosin_malli_0_11_0.xml
/.idea/libraries/Leiningen__metosin_muuntaja_0_6_6.xml
/.idea/libraries/Leiningen__metosin_reitit_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_core_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_dev_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_frontend_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_http_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_interceptors_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_middleware_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_ring_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_schema_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_sieppari_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_spec_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_swagger_0_3_10.xml
/.idea/libraries/Leiningen__metosin_reitit_swagger_ui_0_3_10.xml
/.idea/libraries/Leiningen__metosin_ring_http_response_0_9_1.xml
/.idea/libraries/Leiningen__metosin_ring_swagger_ui_2_2_10.xml
/.idea/libraries/Leiningen__metosin_schema_tools_0_12_0.xml
/.idea/libraries/Leiningen__metosin_sieppari_0_0_0_alpha7.xml
/.idea/libraries/Leiningen__metosin_spec_tools_0_10_0.xml
/.idea/libraries/Leiningen__mount_0_1_16.xml
/.idea/libraries/Leiningen__mvxcvi_arrangement_1_2_0.xml
/.idea/libraries/Leiningen__mvxcvi_arrangement_2_1_0.xml
/.idea/libraries/Leiningen__mvxcvi_puget_1_1_2.xml
/.idea/libraries/Leiningen__net_jodah_expiringmap_0_5_9.xml
/.idea/libraries/Leiningen__nrepl_0_6_0.xml
/.idea/libraries/Leiningen__ns_tracker_0_4_0.xml
/.idea/libraries/Leiningen__org_antlr_antlr4_4_5_3.xml
/.idea/libraries/Leiningen__org_antlr_antlr4_runtime_4_5_3.xml
/.idea/libraries/Leiningen__org_apache_commons_commons_lang3_3_8_1.xml
/.idea/libraries/Leiningen__org_apache_httpcomponents_httpasyncclient_4_1_4.xml
/.idea/libraries/Leiningen__org_apache_httpcomponents_httpclient_4_5_10.xml
/.idea/libraries/Leiningen__org_apache_httpcomponents_httpclient_cache_4_5_10.xml
/.idea/libraries/Leiningen__org_apache_httpcomponents_httpcore_4_4_12.xml
/.idea/libraries/Leiningen__org_apache_httpcomponents_httpcore_nio_4_4_10.xml
/.idea/libraries/Leiningen__org_apache_httpcomponents_httpmime_4_5_10.xml
/.idea/libraries/Leiningen__org_checkerframework_checker_qual_2_0_0.xml
/.idea/libraries/Leiningen__org_clojure_clojure_1_10_1.xml
/.idea/libraries/Leiningen__org_clojure_clojure_1_11_1.xml
/.idea/libraries/Leiningen__org_clojure_clojurescript_1_10_439.xml
/.idea/libraries/Leiningen__org_clojure_clojurescript_1_10_520.xml
/.idea/libraries/Leiningen__org_clojure_core_async_0_3_465.xml
/.idea/libraries/Leiningen__org_clojure_core_cache_0_6_5.xml
/.idea/libraries/Leiningen__org_clojure_core_memoize_0_5_9.xml
/.idea/libraries/Leiningen__org_clojure_core_rrb_vector_0_0_13.xml
/.idea/libraries/Leiningen__org_clojure_core_rrb_vector_0_0_14.xml
/.idea/libraries/Leiningen__org_clojure_core_specs_alpha_0_2_44.xml
/.idea/libraries/Leiningen__org_clojure_core_specs_alpha_0_2_62.xml
/.idea/libraries/Leiningen__org_clojure_data_json_0_2_6.xml
/.idea/libraries/Leiningen__org_clojure_data_priority_map_0_0_7.xml
/.idea/libraries/Leiningen__org_clojure_google_closure_library_0_0_20170809_b9c14c6b.xml
/.idea/libraries/Leiningen__org_clojure_google_closure_library_third_party_0_0_20170809_b9c14c6b.xml
/.idea/libraries/Leiningen__org_clojure_java_classpath_0_3_0.xml
/.idea/libraries/Leiningen__org_clojure_spec_alpha_0_2_176.xml
/.idea/libraries/Leiningen__org_clojure_spec_alpha_0_3_218.xml
/.idea/libraries/Leiningen__org_clojure_test_check_1_1_0.xml
/.idea/libraries/Leiningen__org_clojure_tools_analyzer_0_6_9.xml
/.idea/libraries/Leiningen__org_clojure_tools_analyzer_jvm_0_7_0.xml
/.idea/libraries/Leiningen__org_clojure_tools_cli_0_4_2.xml
/.idea/libraries/Leiningen__org_clojure_tools_logging_0_5_0.xml
/.idea/libraries/Leiningen__org_clojure_tools_macro_0_1_1.xml
/.idea/libraries/Leiningen__org_clojure_tools_namespace_0_2_11.xml
/.idea/libraries/Leiningen__org_clojure_tools_reader_1_3_0.xml
/.idea/libraries/Leiningen__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
/.idea/libraries/Leiningen__org_eclipse_jetty_jetty_http_9_4_12_v20180830.xml
/.idea/libraries/Leiningen__org_eclipse_jetty_jetty_io_9_4_12_v20180830.xml
/.idea/libraries/Leiningen__org_eclipse_jetty_jetty_server_9_4_12_v20180830.xml
/.idea/libraries/Leiningen__org_eclipse_jetty_jetty_util_9_4_12_v20180830.xml
/.idea/libraries/Leiningen__org_flatland_ordered_1_5_7.xml
/.idea/libraries/Leiningen__org_flatland_useful_0_11_6.xml
/.idea/libraries/Leiningen__org_javassist_javassist_3_18_1_GA.xml
/.idea/libraries/Leiningen__org_mozilla_rhino_1_7R5.xml
/.idea/libraries/Leiningen__org_msgpack_msgpack_0_6_12.xml
/.idea/libraries/Leiningen__org_ow2_asm_asm_all_4_2.xml
/.idea/libraries/Leiningen__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Leiningen__org_webjars_npm_bulma_0_8_0.xml
/.idea/libraries/Leiningen__org_webjars_npm_material_icons_0_3_1.xml
/.idea/libraries/Leiningen__org_webjars_webjars_locator_0_38.xml
/.idea/libraries/Leiningen__org_webjars_webjars_locator_core_0_43.xml
/.idea/libraries/Leiningen__org_yaml_snakeyaml_1_24.xml
/.idea/libraries/Leiningen__pjstadig_humane_test_output_0_10_0.xml
/.idea/libraries/Leiningen__potemkin_0_4_5.xml
/.idea/libraries/Leiningen__prismatic_schema_1_1_11.xml
/.idea/libraries/Leiningen__prone_2019_07_08.xml
/.idea/libraries/Leiningen__realize_2019_04_24.xml
/.idea/libraries/Leiningen__riddley_0_1_12.xml
/.idea/libraries/Leiningen__ring_ring_anti_forgery_1_3_0.xml
/.idea/libraries/Leiningen__ring_ring_codec_1_1_2.xml
/.idea/libraries/Leiningen__ring_ring_core_1_8_0.xml
/.idea/libraries/Leiningen__ring_ring_defaults_0_3_2.xml
/.idea/libraries/Leiningen__ring_ring_devel_1_8_0.xml
/.idea/libraries/Leiningen__ring_ring_headers_0_3_0.xml
/.idea/libraries/Leiningen__ring_ring_jetty_adapter_1_7_1.xml
/.idea/libraries/Leiningen__ring_ring_mock_0_4_0.xml
/.idea/libraries/Leiningen__ring_ring_servlet_1_7_1.xml
/.idea/libraries/Leiningen__ring_ring_ssl_0_3_0.xml
/.idea/libraries/Leiningen__ring_webjars_0_2_0.xml
/.idea/libraries/Leiningen__selmer_1_12_18.xml
/.idea/libraries/Leiningen__slingshot_0_12_2.xml
/.idea/libraries/Leiningen__tech_droit_clj_diff_1_0_1.xml
/.idea/libraries/Leiningen__tigris_0_1_1.xml
/.idea/misc.xml
/.idea/modules.xml
/src/apolloserver/package-lock.json
/.idea/inspectionProfiles/Project_Default.xml
/src/apolloserver/dist/resolvers.js
/.idea/runConfigurations.xml
/src/apolloserver/dist/typeDefs.js
/.idea/vcs.xml
