#:object{:Query
         [:map
          [:fields
           [:map
            ["character"
             {:optional true}
             [:map
              [:type [:ref :object/Character]]
              [:args [:map ["id" :gql.scalar/non-null-id]]]]]
            ["characters"
             {:optional true}
             [:map
              [:type [:ref :object/Characters]]
              [:args
               [:map
                ["page" :gql.scalar/int]
                ["filter"
                 {:kind "INPUT_OBJECT",
                  :name "FilterCharacter",
                  :ofType nil}]]]]]
            ["charactersByIds"
             {:optional true}
             [:map
              [:type [:vector {:min 1} [:ref :object/Character]]]
              [:args [:map ["ids" :gql.list.scalar/non-null-id]]]]]
            ["location"
             {:optional true}
             [:map
              [:type [:ref :object/Location]]
              [:args [:map ["id" :gql.scalar/non-null-id]]]]]
            ["locations"
             {:optional true}
             [:map
              [:type [:ref :object/Locations]]
              [:args
               [:map
                ["page" :gql.scalar/int]
                ["filter"
                 {:kind "INPUT_OBJECT",
                  :name "FilterLocation",
                  :ofType nil}]]]]]
            ["locationsByIds"
             {:optional true}
             [:map
              [:type [:vector {:min 1} [:ref :object/Location]]]
              [:args [:map ["ids" :gql.list.scalar/non-null-id]]]]]
            ["episode"
             {:optional true}
             [:map
              [:type [:ref :object/Episode]]
              [:args [:map ["id" :gql.scalar/non-null-id]]]]]
            ["episodes"
             {:optional true}
             [:map
              [:type [:ref :object/Episodes]]
              [:args
               [:map
                ["page" :gql.scalar/int]
                ["filter"
                 {:kind "INPUT_OBJECT",
                  :name "FilterEpisode",
                  :ofType nil}]]]]]
            ["episodesByIds"
             {:optional true}
             [:map
              [:type [:vector {:min 1} [:ref :object/Episode]]]
              [:args [:map ["ids" :gql.list.scalar/non-null-id]]]]]]]
          [:type [:enum :object/Query]]]}
